/* styles.css */

.container {
  max-width: 900px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f8f9fa; /* Light gray background */
}

h1 {
  font-size: 30px;
  margin-bottom: 20px;
  color: #333; /* Dark text color */
}

ul {
  list-style: none;
  padding: 0;
}

li {
  font-size: 20px;
  padding: 20px;
  margin-bottom: 20px;
  background-color: #fff; /* White background for list items */
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Subtle box shadow */
  cursor: pointer;
  transition: background-color 0.3s ease;
}

li:hover {
  background-color: #f0f0f0; /* Light gray background on hover */
}

/* Optional: Add styles for link text */
a {
  text-decoration: none;
  color: #007bff; /* Blue link color */
}

a:hover {
  text-decoration: underline; /* Underline link on hover */
}
.custom-code-block {
  font-family: "Courier New", Courier, monospace; /* Monospace font for code */
  font-size: 25px;
  line-height: 1.7; /* Increased line height for better readability */
  overflow-x: auto; /* Allow horizontal scrolling for long lines */
}

.popup {
  width: 150px;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}
